# Database
DATABASE_URL="postgresql://ims_user:ims_password@localhost:5432/ims_db?schema=public"

# Auth
AUTH_SECRET="replace-with-a-long-random-string-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# App
NODE_ENV="development"
